// colors
$white: #ffffff;
$blue-light: #D2D4D9;
$blue: #A4AAB2;
$blue2: #0074D4;
$blue-dark: #828892;
$blue-dark2: #2B3350;
$gray-light: #F7F9FC;
$gray-light2: #F1F4F9;
$gray-light3: #E4E9F2;
$gray-light4: #CBD1DC;
$gray-light5: #F3F4F7;
$gray-light6: #959AAE;
$gray: #959FB2;
$gray-dark: #576077;
$gray-dark2: #373E54;
$gray-dark3: #101426;
$black: #191E32;
$red: #F54D35;
