@import "../Product-color/main.scss";

.product-info {
  display: flex;
  margin-bottom: 15px;
  gap: 45px;
  justify-content: space-between;
  &__img {
    width: 632px;
    border: 1px solid $gray-light5;
    border-radius: 16px;
  }

  &__txt {
    width: 492px;
  }

  &__txt-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 8px;
  }

  &__txt-details {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: $gray-dark;
    margin-bottom: 21px;
  }

  &__color,
  &__mechanism {
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: $gray-light6;
    margin-bottom: 6px;
  }

  &__choise {
    display: flex;

    &-color {
      border: 2px solid $gray-light5;
      border-radius: 8px;
      width: 76px;
      height: 76px;
      margin-right: 8px;
    }
  }

  &__mechanism-txt {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: $gray-dark;
    margin-bottom: 24px;
  }

  &__price {
    margin-bottom: 24px;
    &-old {
      font-weight: 700;
      font-size: 30px;
      line-height: 36px;
      text-decoration: line-through 3px $red;
    }

    &-new {
      font-weight: 900;
      font-size: 38px;
      line-height: 46px;
    }
  }
}

.btn-product {
  &__add,
  &__remove {
    width: 42px;
    height: 42px;
    padding: 5px;
    border-radius: 50%;
    border: 1px solid $gray-light5;
    background-color: $white;
  }
}

.product-count {
  font-weight: 400;
  font-size: 22px;
  line-height: 31px;
  margin: 0 14px;
}